<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
<!--
            <pattern>%d{HH:mm:ss.SSS} [%thread] %5level %logger{36} - %msg %n</pattern>
-->
            <layout class="com.lvy.framework.crystalgrape.log.SimpleLayout"/>
        </encoder>
    </appender>
    <root >
        <appender-ref ref="stdout"/>
    </root>
</configuration>